<div class="row">
  <!-- images -->
  <% if @listing.images.any? %>
    <div class="col-md-6">
      <% @listing.images.each do |image| %>
        <%= image_tag image.avatar.url(:medium), class: "img-responsive img-rounded"%>
      <% end %>
    </div>
  <% end %>

  <!-- description -->
  <div class="col-md-6">
    <h3 class="text-center"> <%= @listing.title %>
      <small class="muted">$<%= @listing.rate %>/night</small>
    </h3>
    <h4 class="text-center"> <%= @listing.location %></h4>
    <p class="lead"><%= @listing.description %></p>
    <br>
    <% if current_user %>
      <%= bootstrap_form_for @reservation do |f| %>
        <%= f.date_field :start_date %>
        <%= f.date_field :end_date %>
        <%= f.hidden_field :listing_id, value: @listing.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Rent", class: "btn btn-info btn-block" %>
      <% end %>
      <br>

      <!-- Review/Reviews -->
      <!-- Pass in :listing_id to url so that it is available in the params -->
      <%= link_to 'Review', new_review_path(listing_id: @listing.id), class: "btn btn-default btn-block" %>
      <br>
    <% end %>

    <% if @listing.reviews %>
      <% @listing.reviews.each do |review| %>
        <blockquote>
          <p><%= review.content %>
            <% (5-review.rating).times do %>
              <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
            <% end %>
            <% review.rating.times do %>
              <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
            <% end %>
          </p>
        </blockquote>
        </li>
      <% end %>
    <% end %>
  </div>
</div>
