<h1 class="text-center">Hi, <%= current_user.name %></h1>
<hr>
<div class="col-md-6">
  <% if current_user.listings %>
    <p class="lead">Your current listings:</p>
    <ul class="list-group">
      <% current_user.listings.each do |listing| %>
        <li class="list-group-item"><%= listing.title %>
        <span class="pull-right"><%= link_to ' Delete', listing_path(listing), data: {confirm: 'Are you sure?', method: 'delete'} %> | 
        <%= link_to 'Edit', edit_listing_path(listing) %></span></li>
      <% end %>
    </ul>
  <% else %>
    <p class="lead">You don't have any listings yet</p>
  <% end %>


</div>

<div class="col-md-6">
  <p class="lead">Create a new listing, <%= current_user.name %></p>
  <%= render 'listings/form' %>
</div>
