<h2>Write a review:</h2>

<%= bootstrap_form_for @review do |f| %>
  <%= f.text_area :content, rows: 5 %>
  <div class='col-md-1'>
    <%= f.select(:rating, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]), inline: true) %>
    <%= f.hidden_field :listing_id, value: @listing.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class='col-md-1'>
    <%= f.submit %>
  </div>
<% end %>
